swagger: '2.0'
info:
  description: >-
    This is api docs for local-community-service on implude project.<br> If you
    want to know our service more, please visit <a
    href="https://hakbong.me">HERE</a>.
  version: 1.0.0
  title: Local-Community
  termsOfService: 'https://hakbong.me/terms/'
  contact:
    email: contact@hakbong.me
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.hakbong.me
securityDefinitions:
  basicAuth:
    type: basic
tags:
- name: "user"
  description: "User Authentification API"
- name: "post"
  description: "Community SNS API"
basePath: /
security: 
  - basicAuth: []
schemes:
  - https
paths:
  /auth/signup:
    post:
      tags:
        - user
      summary: User Create
      description: api node for generating account
      operationId: createUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: email
          in: formData
          description: email of account
          required: true
          type: string
        - name: password
          in: formData
          description: password of account
          required: true
          type: string
        - name: name
          in: formData
          description: nickname of account
          required: true
          type: string
        - name: phone
          in: formData
          description: phone number of account (only number)
          required: true
          type: string
        - name: gender
          in: formData
          description: gender of account
          required: true
          type: string
        - name: areaString
          in: formData
          type: string
          description: user area of account
          required: true
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account generated and verification email sent.
        '400':
          description: data user provided format invalid.
        '409':
          description: email user provided duplicated.
        '412':
          description: data user provided doesn't satisfy format.
        '424':
          description: >-
            account generated but verification email wasn't sent.<br> please
            resend verification email in application.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/active:
    get:
      tags:
        - user
      summary: User Activation
      description: api node for activating account
      operationId: activeUser
      produces:
        - application/json
        - application/xml
      parameters:
        - name: email
          in: query
          description: The user email for verification
          required: true
          type: string
        - name: token
          in: query
          description: The token for verification
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account email verification finished.
        '409':
          description: account user provided not exist or already activated.
        '412':
          description: data user provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/login:
    post:
      tags:
        - user
      summary: User Login
      description: api node for getting jwt token
      operationId: loginUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: email
          in: formData
          description: email of account
          required: true
          type: string
        - name: password
          in: formData
          description: password of account
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: user login succeed and json token published
          schema:
            $ref: "#/definitions/apiLoginResult"
        '409':
          description: account user provided not exist
        '412':
          description: data user provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/jwtdecode:
    get:
      tags:
        - user
      summary: JWT TOKEN DECODE
      description: api node for decoding jwt token
      operationId: jwtdecode
      produces:
        - application/json
        - application/xml
      parameters:
        - name: token
          in: query
          description: The token for verification
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: jwt token decoded
          schema:
            $ref: "#/definitions/UserInfo"
        '500':
          description: jwt token decode failed
  /post/new-article:
    post:
      tags:
        - post
      summary: Post New Article
      description: api node for posting new article
      operationId: newarticle
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - application/xml
      parameters:
        - name: userjwt
          in: formData
          description: jwttoken of article owner
          required: true
          type: string
        - name: target
          in: formData
          description: community id for article 
          required: true
          type: string
        - name: title
          in: formData
          description: title of article
          required: true
          type: string
        - name: text
          in: formData
          description: content of article
          required: true
          type: string
        - name: tags
          in: formData
          description: tags of article
          required: true
          type: string
        - name: picture
          in: formData
          description: pictures of article
          type: string
        - name: link
          in: formData
          description: links of article
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: article posted successfully.
        '409':
          description: userjwt is invalid to post article.
        '412':
          description: data user provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
definitions:
  apiResult:
    type: object
    properties:
      result: 
        type: string
      error:
        type: string
  apiLoginResult:
    type: object
    properties:
      result: 
        type: string
      token:
        type: string
  UserInfo:
    type: object
    properties:
      area:
        type: object
        properties:
          state:
            type: string
          city:
            type: string
          dong:
            type: string
      enable: 
        type: boolean
      email:
        type: string
      name:
        type: string
      gender:
        type: integer
        format: int32
      phone:
        type: string
      lastlogin:
        type: string
        format: date
        pattern: 'yyyy-MM-dd hh:mm:ss'
      created:
        type: integer
        format : int32
      expired:
        type: integer
        format : int32
externalDocs:
  description: Find out more about our team
  url: 'https://implude.com/teams/aidu'
